@import "components/_reboot.css";

@font-face {
  font-family: 'SF UI Text';
  src: url('fonts/SFUIText-Regular.eot');
  src: local('SF UI Text Regular'), local('SFUIText-Regular'),
  url('fonts/SFUIText-Regular.eot?#iefix') format('embedded-opentype'),
  url('fonts/SFUIText-Regular.woff') format('woff'),
  url('fonts/SFUIText-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  background: url("./images/main-blurs2.png");
}